div, section{
    border:1px solid black;

}
.left33{
    float:left;
    min-width:33%;
}
.height33{
    height:33%;

}
header {
    height: 62px;
    overflow: hidden;
    background: transparent url(../img/header_strip.gif) repeat-x;
    padding: 10px 9px 20px 18px;
}
#logo{
    float:left;
    border:none;

}
#container{
    width:100%;
    height:800px;
    border:1px solid red;
}

#contact{
    width:90%;
    height:33%;
}

#accounts{
}

#alerts{
}
